/**********
*** FONT START ***
**********/
@font-face {
  font-family: "CormorantUpright";
  font-style: normal;
  font-weight: 400;
  src: local("CormorantUpright-Regular"),
    url("../fonts/CormorantUpright-Regular.woff2") format("woff2"),
    url("../fonts/CormorantUpright-Regular.woff") format("woff");
}

@font-face {
  font-family: "CormorantUpright";
  font-style: normal;
  font-weight: 600;
  src: local("CormorantUpright-SemiBold"),
    url("../fonts/CormorantUpright-SemiBold.woff2") format("woff2"),
    url("../fonts/CormorantUpright-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "CormorantUpright";
  font-style: normal;
  font-weight: 700;
  src: local("CormorantUpright-Bold"),
    url("../fonts/CormorantUpright-Bold.woff2") format("woff2"),
    url("../fonts/CormorantUpright-Bold.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans-Italic"),
    url("../fonts/OpenSans-Italic.woff2") format("woff2"),
    url("../fonts/OpenSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

/**********
*** FONT END ***
**********/

/**********
*** COLOR START ***
**********/
:root {
  --black: #0C0B08;
  --black-100: #0c0c0c;
  --black-100: #040404;
  --black-200: #040404f5;

  --white: #FFFFFF;
  --white-100: #FAFAFA;

  --grey: #AAA;

  --yellow: #DCCA87;
  --yellow-100: #F5EFDB;

  accent-color: var(--yellow-100);
}

/**********
*** COLOR END ***
**********/

/**********
*** COMMON START ***
**********/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dt {
  margin: 0;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

input,
textarea {
  outline: transparent;
  border: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  /* font-family: 'Cormorant Upright', serif; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--grey);
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.64px;
}

.main {
  flex-grow: 1;
  min-height: 100vh;
}

.container,
.container-big,
.container-big-slider {
  max-width: 1320px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.container-big {
  max-width: 1680px;
  padding: 32px 10px;
}

.container-big-slider {
  max-width: 1680px;
}

.flex {
  display: flex;
}

.flex-direction {
  display: flex;
  flex-direction: column;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.bg-img::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--black-200);
  opacity: 0.5;
  z-index: -1;
}

.title-box {
  gap: 15px;
}

.title {
  font-family: 'Cormorant Upright', serif;
  font-variant-numeric: lining-nums tabular-nums;
  color: var(--yellow);
  font-size: 64px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 1.92px;
  text-transform: capitalize;
}

.subtitle-left,
.subtitle-center {
  display: inline-block;
  font-family: "Cormorant Upright";
  color: var(--white);
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.92px;
  text-transform: capitalize;
  position: relative;
}
.subtitle-left::before,
.subtitle-center::before {
  position: absolute;
  content: url(../img/svg/svg-title.svg);
  bottom: -20px;
  left: 0;
}
.subtitle-center::before {
  left: 45%;
}

.text-italic {
  font-style: italic;
}

.button {
  padding: 8px 32px;
  color: var(--black);
  background-color: var(--yellow);
  font-family: 'Cormorant Upright', serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.64px;
}
.button:hover {
  box-shadow: 0 0 2px 2px var(--yellow-100);
  color: var(--black-100);
}

.btn {
  max-width: 160px;
  width: 100%;
}

.img-box,
.img-box__chief {
  position: relative;
  max-width: 620px;
  width: 100%;
  z-index: 1;
}
.img-box::before,
.img-box::after {
  position: absolute;
  content: '';
  width: 435px;
  height: 435px;
  bottom: -22px;
  left: -22px;
  background-color: var(--yellow);
  z-index: -1;
}
.img-box::after {
  top: -22px;
  left: 207px;
}

.img-box__images {
  object-fit: cover;
}
.img-box__chief::before {
  bottom: -16px;
}
.img-box__chief::after {
  left: 156px;
}

.form-input {
  color: var(--yellow);
}
.form-input::placeholder {
  color: var(--yellow-100);
  font-family: 'Cormorant Upright', serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: 0.64px;
  text-transform: capitalize;
  transition: all .3s;
}
.form-input:hover::placeholder {
  opacity: 0.5;
}

#login_form,
#registration_form {
  position: absolute;
  background-color: var(--black-200);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#login_form,
#registration_form {
  display: none;
}

.window-form {
  max-width: 750px;
  width: 100%;
  background-color: var(--black);
  padding: 45px 35px;
  border-radius: 15px;
  box-shadow: 0 0 3px 1px var(--yellow-100);
  position: relative;
  transition: all 0.3s;
}
.window-form:hover {
  box-shadow: 0 0 7px 4px var(--yellow-100);
}

.window-form__close {
  position: absolute;
  content: '';
  color: var(--yellow);
  font-size: 28px;
  top: 15px;
  right: 25px;
  padding: 5px 10px;
  transition: all.3s;
}
.window-form__close:hover,
.window-form__close:focus {
  color: var(--yellow-100);
  filter: drop-shadow(0 0 7px 4px #aaa);
  scale: 1.1;
}

.window-form__title {
  font-size: 54px;
  margin-bottom: 20px;
  text-align: center;
}

.window-form__label {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.3;
  color: var(--yellow);
  font-family: 'Cormorant Upright', serif;
  letter-spacing: 0.64px;
} 

.window-form__conf {
  margin-bottom: 10px;
  text-wrap: balance;
  padding-left: 20px;
}

.window-form__rem {
  padding-left: 20px;
}

.window-form__input {
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid var(--yellow-100);
  padding: 8px 15px;
  transition: all 0.3s;
  color: var(--grey);
  font-family: 'Open Sans', sans-serif;
}

.window-form__btn {
  margin-bottom: 25px;
  border-radius: 3px;
  padding: 12px 23px;
  font-size: 22px;
}

.register-btn {
  margin-bottom: 0;
}

.animate {
  -webkit-animation: animatezoom 0.8s;
  animation: animatezoom 0.8s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}
/* .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
/**********
*** COMMON END ***
**********/

/**********
*** HEADER START ***
**********/
.header {
  background-color: var(--black-200);
  position: relative;
  min-height: 100vh;
}

.header__wrap {
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  margin-left: 270px;
}

.nav-menu__list {
  gap: 32px;
}

.nav-link,
.nav-login__link {
  color: var(--white);
  transition: all 0.5;
}
.nav-link:hover,
.nav-login__link:hover {
  color: var(--white-100);
  opacity: 0.8;
}

.nav-menu__link--active {
  color: var(--yellow);
  border-bottom: 1px solid var(--yellow);
}

.nav-login__link {
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}

.nav-login {
  position: relative;
}
.nav-login::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 57px;
  background-color: var(--white);
  opacity: 0.5;
  top: -14px;
  right: 39%;
}

.nav-login__list {
  gap: 15px;
  margin-right: 100px;
}

.nav-login__item {
  position: relative;
}
.nav-login__item:not(:last-child)::before{
  position: absolute;
  content: '';
  width: 1px;
  height: 12px;
  background-color: var(--white);
  top: 8px;
  right: -8px;
  transform: rotate(16deg);
}

.header__inner {
  align-items: center;
  position: relative;
  padding-bottom: 120px;
}

.header-hashtag {
  position: absolute;
  content: '';
  width: auto;
  height: auto;
  transform: rotate(-90deg);
  top: 42%;
  left: -73px;
  z-index: 1;
}

.header-hashtag__list {
  gap: 40px;
}

.header-hashtag__link {
  color: var(--white);
  font-size: 18px;
  line-height: 1.75;
  letter-spacing: 0.72px;
  transition: all .3s;
}
.header-hashtag__link:hover {
  color: var(--yellow);
}

.header-slider__wrap {
  padding-left: 185px;
  align-items: center;
  gap: 180px;
  padding: 80px 185px;
}
.header-slider__item:nth-child(1) {
  max-width: 455px;
  width: 100%;
  justify-content: center;
  gap: 32px;
}

.header-title {
  font-family: 'Cormorant Upright', serif;
  color: var(--yellow);
  font-size: 90px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 3.6px;
  text-transform: capitalize;
}

.slick-dots {
  bottom: 0;
}
.slick-dots li button:before {
  position: absolute;
  content: '01';
  top: 0;
  left: 0;
  width: 17px;
  height: 28px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--yellow-100);
  font-family: 'Cormorant Upright', serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}
.slick-dots li button::before:nth-child(2) {
  content: '02';
}
.slick-dots li.slick-active button:before {
  color: var(--white);
}
/**********
*** HEADER END ***
**********/

/**********
*** ABOUT START ***
**********/
.about {
  background-image: url(../img/bg/bg.png); 
  padding: 120px 32px 136px 32px;
}

.about__wrap {
  justify-content: space-between;
  align-items: center;
  gap: 85px;
  position: relative;
  z-index: 1;
}
.about__wrap::before {
  position: absolute;
  content: url(../img/svg/g.svg);
  top: 21%;
  left: 34%;
  z-index: -1;
}

.about__item {
  align-items: flex-end;
  max-width: 523px;
  width: 100%;
  gap: 32px;
}

.flex-start {
  align-items: flex-start;
}

.title-right,
.title-left {
  position: relative;
  display: inline-block;
}
.title-right::before,
.title-left::before {
  position: absolute;
  content: url(../img/svg/svg-title.svg);
  bottom: -55px;
  right: 6px;
  transform: rotate(180deg);
}
.title-left::before {
  bottom: -26px;
  left: 6px;
  transform: rotate(0);
}

.box-text {
  text-wrap: balance;
}

.right {
  text-align: right;
}

.about__img {
  transition: all .9s;
}
.about__img:hover {
  transform: rotate(360deg);
  scale: 1.1;
}

.about__images {
  min-width: 84px;
  height: 703px;
}
/**********
*** ABOUT END ***
**********/

/**********
*** RESERV START ***
**********/
.reserv {
  padding: 150px 0;
  background-color: var(--black-200);
}

.reserv-form {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 64px;
  width: 100%;
  padding: 48px 32px;
  box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.70);
  border: 1px solid rgba(220, 202, 135, 0.20);
}

.label-box {
  gap: 32px;
  max-width: 1116px;
  width: 100%;
}

.reserv-form__label {
  width: 412px;
  width: 100%;
}

.reserv-form__input {
  width: 100%; 
  background-color: transparent;
  border: 1px solid var(--yellow-100);
  padding: 16px;
}
/**********
*** RESERV END ***
**********/

/**********
*** MENU START ***
**********/
.menu-top {
  background-image: url(../img/bg/menu-bg.jpg);
  justify-content: center;
  align-items: flex-start;
  padding: 200px 0;
}

.menu-tabs__top {
  align-items: flex-start;
  gap: 64px;
}

.menu-tabs__top-item {
  color: var(--white);
  font-family: 'Cormorant Upright', serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 1.92px;
  text-transform: capitalize;
  transition: all .5s;
}
.menu-tabs__top-item:hover {
  scale: 1.1;
  color: var(--yellow-100);
  transform: translate(50px);
}

.menu-tabs__top-item--active {
  text-decoration: underline;
}
.menu-tabs__top-item--active:hover {
  scale: 1.1;
  color: var(--white);
}

.menu-bottom {
  padding: 152px 0;
  background-color: var(--black-200);
  text-align: center;
}

.menu-tabs__content-item {
  display: none;
}

.menu-tabs__content-item--active {
  display: block;
}

.menu__inner {
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.menu__content {
  gap: 32px;
}

.menu__item {
  width: 412px;
  gap: 48px;
  padding: 32px 0;
}
.menu__item:nth-child(2) {
  width: 444px;
  padding: 0;
}

.menu-title {
  color: var(--white);
  font-family: 'Cormorant Upright', serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 1.8px;
  text-transform: capitalize;
}

.menu-list {
  width: 100%;
  gap: 40px;
}

.menu-list__link {
  display: block;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  width: 100%;
}
.menu-list__link:hover {
  border-bottom: 1px solid var(--yellow);
  scale: 1.1;
}

.menu-list__box {
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-bottom: 8px;
}
.menu-list__box::after {
  position: absolute;
  content: '';
  width: 119px;
  height: 1px;
  background-color: var(--white-100);
  right: 70px;
  top: 15px;
}

.menu-list__title,
.menu-list__price {
  color: var(--yellow);
  font-family: 'Cormorant Upright', serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}

.menu-list__price {
  color: var(--white);
}

.composition-list {
  gap: 16px;
}

.composition-list__item {
  position: relative;
}
.composition-list__item:not(:last-child)::before {
  position: absolute;
  content: '';
  background-color: var(--grey);
  width: 1px;
  height: 15px;
  top: 6px;
  right: -8px;
}

.menu__img {
  object-fit: cover;
  width: 444px;
}
/**********
*** MENU END ***
**********/

/**********
*** CHIEF START ***
**********/
.chief {
  background-image: url(../img/bg/bg.png);
  position: relative;
  padding: 125px 0;
}

.chief__wrap {
  gap: 96px;
  align-items: center;
}

.chief__item {
  width: 570px;
  gap: 64px;
}

.text-blockquote {
  padding-left: 55px;
  position: relative;
}
.text-blockquote::before {
  position: absolute;
  content: url(../img/svg/paws.svg);
  bottom: -5px;
  left: 0;
}

.chief-author__name {
  color: var(--yellow);
  font-family: 'Cormorant Upright', serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
/**********
*** CHIEF END ***
**********/

/**********
*** TEAM START ***
**********/
.team {
  background-image: url(../img/bg/bg-team.jpg);
  padding: 150px 0;
}

.team__wrap {
  gap: 64px;
  text-align: center;
  align-items: center;
}

.team-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px 32px;
}

.team-list__link {
  gap: 24px;
  align-items: center;
  text-align: start;
  transition: all .5s;
}
.team-list__link:hover {
  transform: translate(-50px);
  scale: 1.1;
  box-shadow: 0 0 3px 2px var(--yellow-100);
  background-color: var(--black-200);
}

.team-list__box {
  width: 200px;
  height: 210px;
  position: relative;
}
.team-list__box::before {
  position: absolute;
  content: url(../img/svg/paws.svg);
  bottom: -25px;
  right: -15px;
}

.team-list__img {
  object-fit: cover;
  min-width: 200px;
  height: 210px;
}

.team-list__block {
  gap: 16px;
}
/**********
*** TEAM END ***
**********/