/**********
*** ABOUT START ***
**********/
.about {
  background-image: url(../img/bg/bg.png); 
  padding: 120px 32px 136px 32px;
}

.about__wrap {
  justify-content: space-between;
  align-items: center;
  gap: 85px;
  position: relative;
  z-index: 1;
}
.about__wrap::before {
  position: absolute;
  content: url(../img/svg/g.svg);
  top: 21%;
  left: 34%;
  z-index: -1;
}

.about__item {
  align-items: flex-end;
  max-width: 523px;
  width: 100%;
  gap: 32px;
}

.flex-start {
  align-items: flex-start;
}

.title-right,
.title-left {
  position: relative;
  display: inline-block;
}
.title-right::before,
.title-left::before {
  position: absolute;
  content: url(../img/svg/svg-title.svg);
  bottom: -55px;
  right: 6px;
  transform: rotate(180deg);
}
.title-left::before {
  bottom: -26px;
  left: 6px;
  transform: rotate(0);
}

.box-text {
  text-wrap: balance;
}

.right {
  text-align: right;
}

.about__img {
  transition: all .9s;
}
.about__img:hover {
  transform: rotate(25deg);
  scale: 1.1;
}

.about__images {
  min-width: 84px;
  height: 703px;
}
/**********
*** ABOUT END ***
**********/

/**********
*** RESERV START ***
**********/
.reserv {
  padding: 150px 0;
  background-color: var(--black-200);
}

.label-box {
  gap: 32px;
  max-width: 1116px;
  width: 100%;
}

.reserv-form__label {
  width: 412px;
  width: 100%;
}
/**********
*** RESERV END ***
**********/

/**********
*** MENU START ***
**********/
.menu-top {
  background-image: url(../img/bg/menu-bg.jpg);
  justify-content: center;
  align-items: flex-start;
  padding: 200px 0;
}

.menu-tabs__top {
  align-items: flex-start;
  gap: 64px;
}

.menu-tabs__top-item {
  color: var(--white);
  font-family: 'Cormorant Upright', serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 1.92px;
  text-transform: capitalize;
  transition: all .5s;
}
.menu-tabs__top-item:hover {
  scale: 1.1;
  color: var(--yellow-100);
  transform: translate(50px);
}

.menu-tabs__top-item--active {
  text-decoration: underline;
}
.menu-tabs__top-item--active:hover {
  scale: 1.1;
  color: var(--white);
}

.menu-bottom {
  padding: 152px 0;
  background-color: var(--black-200);
  text-align: center;
}

.menu-tabs__content-item {
  display: none;
}

.menu-tabs__content-item--active {
  display: block;
}

.menu__inner {
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.menu__content {
  gap: 32px;
}

.menu__item {
  width: 412px;
  gap: 48px;
  padding: 32px 0;
}
.menu__item:nth-child(2) {
  width: 444px;
  padding: 0;
}

.menu-title {
  color: var(--white);
  font-family: 'Cormorant Upright', serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 1.8px;
  text-transform: capitalize;
}

.menu-list {
  width: 100%;
  gap: 40px;
}

.menu-list__link {
  display: block;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  width: 100%;
}
.menu-list__link:hover {
  border-bottom: 1px solid var(--yellow);
  scale: 1.1;
}

.menu-list__box {
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-bottom: 8px;
}
.menu-list__box::after {
  position: absolute;
  content: '';
  width: 119px;
  height: 1px;
  background-color: var(--white-100);
  right: 70px;
  top: 15px;
}

.menu-list__price {
  color: var(--white);
}

.composition-list {
  gap: 16px;
}

.composition-list__item {
  position: relative;
}
.composition-list__item:not(:last-child)::before {
  position: absolute;
  content: '';
  background-color: var(--grey);
  width: 1px;
  height: 15px;
  top: 6px;
  right: -8px;
}

.menu__img {
  width: 444px;
}
/**********
*** MENU END ***
**********/

/**********
*** CHIEF START ***
**********/
.chief {
  background-image: url(../img/bg/bg.png);
  position: relative;
  padding: 125px 0;
}

.chief__wrap {
  gap: 96px;
  align-items: center;
}

.chief__item {
  width: 570px;
  gap: 64px;
}

.text-blockquote {
  padding-left: 55px;
  position: relative;
}
.text-blockquote::before {
  position: absolute;
  content: url(../img/svg/paws.svg);
  bottom: -5px;
  left: 0;
}
/**********
*** CHIEF END ***
**********/

/**********
*** TEAM START ***
**********/
.team {
  background-image: url(../img/bg/bg-team.jpg);
  padding: 150px 0;
}

.team__wrap {
  gap: 64px;
  text-align: center;
  align-items: center;
}

.team-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px 32px;
}

.team-list__link {
  gap: 24px;
  align-items: center;
  text-align: start;
  transition: all .5s;
}
.team-list__link:hover {
  transform: translate(-50px);
  scale: 1.1;
  box-shadow: 0 0 3px 2px var(--yellow-100);
  background-color: var(--black-200);
}

.team-list__box {
  width: 200px;
  height: 210px;
  position: relative;
}
.team-list__box::before {
  position: absolute;
  content: url(../img/svg/paws.svg);
  bottom: -25px;
  right: -15px;
}

.team-list__img {
  min-width: 200px;
  height: 210px;
}

.team-list__block {
  gap: 16px;
}
/**********
*** TEAM END ***
**********/

/**********
*** VIDEO START ***
**********/
.video {
  background-image: url(../img/bg/video-bg.jpg);
  height: 763px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all .5s;
}
.video::before {
  opacity: 0.2;
}
.video:hover::before {
  opacity: 0.4;
}

.video-link {
  display: inline-block;
  transition: all .5s;
  border-radius: 50%;
}
.video-link:hover {
  img{
    box-shadow: 0 0 7px 5px var(--yellow);
  }
  scale: 1.1;
}

.video-link__img {
  border-radius: 50%;
}
/**********
*** VIDEO END ***
**********/

/**********
*** AWARD START ***
**********/
.award {
  background-image: url(../img/bg/bg.png);
  padding: 130px 0;
}

.award__wrap {
  align-items: center;
  gap: 111px;
}

.award__item {
  gap: 64px;
}
.award__item:nth-child(1) {
  max-width: 634px;
  width: 100%;
}

.award-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px 32px;
}

.award-list__item {
  gap: 32px;
  align-items: center;
  transition: all .5s;
}

.award-list__img {
  min-width: 78px;
  height: 79px;
}

.award-list__items {
  gap: 8px;
}

.award-box {
  position: relative;
  width: 484px;
}
.award-box::before {
  position: absolute;
  content: url(../img/svg/g-white.svg);
  bottom: 0;
  left: -68px;
  opacity: 0.8;
}
/**********
*** AWARD END ***
**********/

/**********
*** BLOG START ***
**********/
.blog {
  background-color: var(--black-200);
  padding: 120px 0 100px 0;
}

.blog__wrap {
  align-items: center;
  text-align: center;
  gap: 64px;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.blog-list__item {
  gap: 32px;
  text-align: start;
  transition: all .5s;
}
.blog-list__item:hover {
  box-shadow: 0 0 3px 5px var(--grey);
  transform: translateY(-10px);
  .blog-list__title{
    text-decoration: underline;
  }
}

.blog-list__box {
  justify-content: space-between;
  padding: 0 5px;
}

.blog-list__text {
  color: var(--white-100);
}

.blog-box {
  padding-left: 5px;
}

.blog-list__link {
  display: block;
  width: 100px;
  color: var(--yellow);
  font-family: 'Cormorant Upright', serif;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  border: 1px solid transparent;
  transition: all .5s;
}
.blog-list__link:hover {
  text-decoration: underline;
}
/**********
*** BLOG END ***
**********/

/**********
*** GALLERY START ***
**********/
.gallery {
  background-image: url(../img/bg/bg.png);
  padding: 130px 0;
}

.gallery__wrap {
  gap: 64px;
  align-items: center;
}

.gallery__item:nth-child(1) {
  min-width: 490px;
  gap: 24px;
}

.gallery-img {
  max-width: 1047px;
}

.slick-initialized .slick-slide {
  margin-right: 24px;
}

.gallery-list__link {
  display: inline-block;
  position: relative;
  height: 442px;
  width: 301px;
  transition: all .9s;
}
.gallery-list__link:hover{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.gallery-list__link:hover::before {
  position: absolute;
  content: '';
  width: 99%;
  background-color: var(--black-100);
  opacity: 0.6;
  top: 0;
  left: 1px;
  right: 0;
  bottom: 0;
}
.gallery-list__link:hover::after {
  position: absolute;
  content: url(../img/svg/instagram.svg);
  top: 42%;
  left: 43%;
}

.gallery-list__img {
  min-width: 300px;
  min-height: 447px;
  object-fit: cover;
}
/**********
*** GALLERY END ***
**********/
